.search .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

@media(min-width:320px) {
    #menu{
        display: none;
    }
   
    .search .search-box input {
        width: 130px;
        border: 0;
        outline: 0;
        background: transparent;
    
    }
    #mic{
        display: none;
    }
    #search{
        display: block;
    }
    .icons{
        display: flex;
    }
}

@media(min-width: 768px) {
    #menu{
        display: block;
    }

    
    #mic{
        display: block;
    }
    #search{
        display: none;
    }

    .search .search-box input {
        width: 250px;
        border: 0;
        outline: 0;
        background: transparent;
    
    }
}


@media(min-width: 1024px) {
    
    .search .search-box input {
        width: 400px;
        border: 0;
        outline: 0;
        background: transparent;
    
    }
    
}

@media(min-width: 1440px) {
    
    
}
