<!-- <div class="side-bar h-100 bg-white" [ngClass]="{'sidebar-list':sideStatus}">
    <div class="side1 w-100 my-4">
        <a class="nav-link active">
            <i class="fas fa-home-alt fs-5"></i>
            <span class="ms-4">Home</span>
        </a>
        <a class="nav-link">
            <i class="fa fa-fire fs-5"></i>
            <span class="ms-4">Trending</span>
        </a>
        <a class="nav-link">
            <span class="ms-4">Subscriptions</span>
        </a>
    </div>
    <hr class="m-2">
    <div class="side2">
        <a class="nav-link">
            <i class="far fa-clock fs-5"></i>
            <span class="ms-4">Library</span>
        </a>
        <a class="nav-link">
            <i class="fa fa-history fs-5"></i>
            <span class="ms-4">History</span>
        </a>
        
        <a class="nav-link">
            <i class="far fa-clock fs-5"></i>
            <span class="ms-4">Watch Later</span>
        </a>
        <a class="nav-link">
            <i class="fa fa-thumbs-up fs-5"></i>
            <span class="ms-4">Liked Videos</span>
        </a>
    </div>
    <hr class="m-2">
    <div class="subscribed-list">
        <h3 class="fs-6 ms-4">Subscriptions</h3>
        <a href="" class="nav-link">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </a>
        <a href="" class="nav-link">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </a>
        <a href="" class="nav-link">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </a>
        <a href="" class="nav-link">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </a>
    </div>
</div> -->

<div class="side-bar" [ngClass]="{'sidebar-list':sideStatus}">
    <ul class="nav-list">
        <a href="" >
            <li class="nav-list-item active">
                <i class="fas fa-home-alt fs-5"></i>
                <span class="ms-4">Home</span>
            </li>
        </a>
        <li class="nav-list-item">
            <i class="fa fa-fire fs-5"></i>
            <span class="ms-4">Trending</span>
        </li>
        <li class="nav-list-item">
            <i class="fa fa-fire fs-5"></i>
            <span class="ms-4">Subscriptions</span>
        </li>
    </ul>
    <hr class="m-2">
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="far fa-clock fs-5"></i>
            <span class="ms-4">Library</span>
        </li>
        <li class="nav-list-item">
            <i class="fa fa-history fs-5"></i>
            <span class="ms-4">History</span>
        </li>
        <li class="nav-list-item">
            <i class="far fa-clock fs-5"></i>
            <span class="ms-4">Watch Later</span>
        </li>
        <li class="nav-list-item">
            <i class="fa fa-thumbs-up fs-5"></i>
            <span class="ms-4">Liked Videos</span>
        </li>
    </ul>
    <hr class="m-2">
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-circle-user fs-5 "></i>
            <span class="ms-4">Swaraj Jedhe</span>
        </li>
    </ul>
</div>